<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Shop</display-name>
  <welcome-file-list>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterSerlvet</display-name>
    <servlet-name>RegisterSerlvet</servlet-name>
    <servlet-class>com.itshop.web.serlvet.RegisterSerlvet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterSerlvet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActiveSerlvet</display-name>
    <servlet-name>ActiveSerlvet</servlet-name>
    <servlet-class>com.itshop.web.serlvet.ActiveSerlvet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActiveSerlvet</servlet-name>
    <url-pattern>/active</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUsernameSerlvet</display-name>
    <servlet-name>CheckUsernameSerlvet</servlet-name>
    <servlet-class>com.itshop.web.serlvet.CheckUsernameSerlvet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUsernameSerlvet</servlet-name>
    <url-pattern>/checkUsername</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductSerlvet</display-name>
    <servlet-name>ProductSerlvet</servlet-name>
    <servlet-class>com.itshop.web.serlvet.ProductSerlvet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductSerlvet</servlet-name>
    <url-pattern>/product</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BaseSerlvet</display-name>
    <servlet-name>BaseSerlvet</servlet-name>
    <servlet-class>com.itshop.web.serlvet.BaseSerlvet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaseSerlvet</servlet-name>
    <url-pattern>/BaseSerlvet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerificationCodeSerlvet</display-name>
    <servlet-name>VerificationCodeSerlvet</servlet-name>
    <servlet-class>com.itshop.web.serlvet.VerificationCodeSerlvet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerificationCodeSerlvet</servlet-name>
    <url-pattern>/verificationCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckCodeSerlvet</display-name>
    <servlet-name>CheckCodeSerlvet</servlet-name>
    <servlet-class>com.itshop.web.serlvet.CheckCodeSerlvet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckCodeSerlvet</servlet-name>
    <url-pattern>/checkCode</url-pattern>
  </servlet-mapping>
</web-app>