<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Shop</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterSerlvet</display-name>
    <servlet-name>RegisterSerlvet</servlet-name>
    <servlet-class>com.itshop.web.serlvet.RegisterSerlvet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterSerlvet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActiveSerlvet</display-name>
    <servlet-name>ActiveSerlvet</servlet-name>
    <servlet-class>com.itshop.web.serlvet.ActiveSerlvet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActiveSerlvet</servlet-name>
    <url-pattern>/active</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUsernameSerlvet</display-name>
    <servlet-name>CheckUsernameSerlvet</servlet-name>
    <servlet-class>com.itshop.web.serlvet.CheckUsernameSerlvet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUsernameSerlvet</servlet-name>
    <url-pattern>/CheckUsernameSerlvet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexSerlvet</display-name>
    <servlet-name>IndexSerlvet</servlet-name>
    <servlet-class>com.itshop.web.serlvet.IndexSerlvet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexSerlvet</servlet-name>
    <url-pattern>/IndexSerlvet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductService</display-name>
    <servlet-name>ProductService</servlet-name>
    <servlet-class>com.itshop.web.serlvet.ProductService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductService</servlet-name>
    <url-pattern>/ProductService</url-pattern>
  </servlet-mapping>
</web-app>